{% load static %}
<footer>
    <div class="container-fluid footer shadow-sm">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="row ">
                    <div class="footer-head pt-4 px-5 px-lg-5">
                        <div class="row px-0 px-lg-5 mt-2">
                            <div class="col-md-2 col-6 px-0 footer-item-links d-flex flex-column">
                                <span class="text-dark fw-bold">دسترسی سریع</span>
                                <ul class="ps-4 mt-3">
                                    <li class="fil-li">
                                        <a href="#" class="fil-links">فروشگاه </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links">درباره ما </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links">تماس با ما </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> سبد خرید  </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> صفحه اصلی  </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-6 px-0 footer-item-links d-flex flex-column">
                                <span class="text-dark"> محصولات الکترونیک </span>
                                <ul class="ps-4 mt-3">
                                    <li class="fil-li">
                                        <a href="#" class="fil-links">لپ تاپ </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> کیس اسمبل شده </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> هدفون و هندزفری </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> لوازم جانبی گوشی </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> لوازم جانبی لب تاپ </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 px-0 footer-item-links d-flex ms-lg-5 flex-column">
                                <span class="text-dark"> تماس با ما </span>
                                <ul class="ps-4 mt-3">
                                    <li class="fil-li">
                                        <a href="#" class="fil-links fcb text-light"> <i class="far fa-user-headset"></i> 09901595095 </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> <i class="fas fa-map-marker-alt"></i> پارس آباد ، خیابان شهید صدوقی ، دفتر مرکزی </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> <i class="fas fa-envelope"></i> alizadevesal@gmail.com </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"> <i class="fab fa-instagram-square"></i> vesalalizadeh.ir </a>
                                    </li>
                                    <li class="fil-li">
                                        <a href="#" class="fil-links"><i class="fab fa-whatsapp-square"></i> 09901595095  </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 px-0 ms-0 d-flex justify-content-center">
                                <ul class="ps-4 mt-md-3 d-flex-c-c">
                                    <li>
                                        <a href="#"><img src="{% static "img/zarinpalllogofooter.webp" %}" class="col-10 col-md-6 col-lg-10" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static "img/enamad.webp" %}" class="col-10 col-md-6 col-lg-10" alt=""> </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static "img/samandehi.webp" %}" class="col-10 col-md-6 col-lg-10" alt=""> </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-body ">
                        <div class="row px-3 px-md-5 d-flex-c-b py-3 py-lg-5 ">
                            <div class="col-md-3 d-flex justify-content-center">
                                <img src="{% static "img/logo-light.png" %}" class="footer-body-img mx-auto" alt="">
                            </div>
                            <div class="col-md-9">
                                <p class="text-light paragraph mb-1">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود می باشد.</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-footer bg-wihte d-flex-c-b py-3">
                        <div class="row">
                            <div class="col-md-6"> <span class="text-muted mb-1 mb-lg-0"> تمامی حقوق برای وب پارادیس محفوظ می باشد </span> </div>
                            <div class="col-md-6 text-end"> <span class="text-muted"> طراح وبسایت وصال علی زاده </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>